<div class="author">
    <h1 class=author_heading> Hi, I am Gokce</h1>
    <p class="author_body">Computer Engineering Student</p>
</div>

<img src="/img/computer.png" alt="computer image" class="comp-img" width="981" height="528">